@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow:hidden

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #ff6961;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.leftHeader {
  text-align: center;
  color: #f2f2f2;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 1rem;
  user-select: none;
}

.rightHeader {
  display: flex;
  justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.unityContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer > p {
  font-size: 2rem;
  text-align: center;
}